
body {
    color: #000;
}

#income-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    min-width: 300px;
    margin: 10px 0;
}

#income-table tr {
    border-bottom: 1px solid #ddd;
    display: table-row;
    vertical-align: inherit;
}

.even {
    background-color: #f1f1f1;
}

#income-table td, #income-table th{
    display: table-cell;
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

#income-info, #income-table  {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

#income-info {
    margin-bottom: 4px;
}